.btn {
  padding: 14px;
  border-radius: 8px;
  color: #ffffff;;
  background-color: #7b53c1;;
  transition: background-color linear .2s;
  border: none;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    background-color: #4e2f83;
  }

  &:disabled {
    opacity: .5;
  }

  &.full-width {
    width: 100%;
  }
}
